@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#rmsCard {
    background: linear-gradient( #55C152 50%, #55C152,#FFDE17, #FFDE17 50%);
    background-size: 100% 200%;
    color: white;
    /*transition effect for background*/
    transition: background 1s;
    outline: 3px solid #55C152;
}

#rmsCard:hover {

    transition: all ease-in-out 0.5s;
    cursor: pointer;
    background-position: 100% 100%;
    color: black;
    outline-color: #FFDE17;
}

#crmCard {
    background: linear-gradient(rebeccapurple, rebeccapurple 50%, #FFA61A 50%, #FFA61A);
    background-size: 100% 200%;
    color: white;
    /*transition effect for background*/
    transition: background 1s;
    outline: 3px solid rebeccapurple;
}

#crmCard:hover {
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    background-position: 100% 100%;
    color: black;
    outline-color: #FFA61A;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}